@use '/Applications/MAMP/htdocs/ssleagal/SCSS/pages/_variables.scss';

$font1:'Rubik', sans-serif;
$font2:'Merriweather', serif;
$gray:gray;
$dblue:#1f2839;
$lblue:#2c4065;
$cream:#b69d74;
$white:#b69d74;
html, body {
  height: 100%;
}
.BrandSec
{
    width: 20%;
}
.phonesvg 
    {
        filter: invert(69%) sepia(35%) saturate(340%) hue-rotate(358deg) brightness(87%) contrast(85%);
        width: 20px;
    }



.navigation-wrapper
{   
    width: 60%;
    text-align:center;

li { 
  display: table-cell; 
  position: relative; 
  // padding: 15px 0;
}
a {

  display: inline-block;
  padding: 10px 0px;
  position: relative;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}
@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}
    ul 
    {
        padding-inline-start: 0px;
        margin-bottom: 0px;
        margin-top: .80rem;
    }
    li 
    {
        display:inline;
        list-style: none;
        text-align:center;
    }
    a 
    {
        padding-right: 0.8rem !important;
        text-decoration: none;
        padding-left: 0.8rem !important;
        font-family: $font1;
        color: white!important;
        font-size: .99rem;
        &:hover{
            color: $cream !important;
            transition: 0.3s;
        }
    }

}
.ContactSec
{
    width: 20%;
    p 
    {
        float: right;
    }
    a 
    {
        font-family: $font1;
        text-decoration: none;
        color: white!important;
        font-size: .99rem;
        &:hover{
            color: $cream !important;
            transition: 0.3s;
        }
    }
}
.mainSec
{
    width: 100%;
    margin:0px;
    padding: 0.9rem 3.5rem 0.9rem!important;
    position: absolute;
    width:100%;
    z-index:10;
    max-width:100%;
}
.carousel
{
    width: 100%;
}
.carousel {
    height: 100vh;
    width: 100%;
    overflow:hidden;
}
.carousel .carousel-inner {
    height:100%;    
}
.carousel .carousel-inner img {
    display:block;
    object-fit: cover;
}

// .item img {
//     position: absolute;
//     top: 0;
//     left: 0;
//     min-height: 300px;
// }

.carosel-content{
  position: absolute;
  left: 12%;
  top: 30%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  p 
  {
        font-family: $font1;
        font-size: .8rem;
        margin-bottom: 0px;
        margin-left: 4px;
        letter-spacing: 4px;
  }
  h1 
  {
       font-family: $font2;
       font-size: 2.8rem;
       line-height: 65px;
       font-weight: 300;
       span{
        color: $white;
       }
  }
  button 
  {
      margin-top: 2rem;
      padding: .8rem;
      border-radius: 3rem;
      background-color: transparent;
      color: white;
      font-family: $font1;
      font-size: .8rem;
      margin-bottom: 0px;
      letter-spacing: 4px;
      border: 2px solid white;
      &before
      {
          content: "";

      }
      &:hover{
      background-color: $cream;
      transition: 1s;

      }
      img {
          filter: invert(100%) sepia(5%) saturate(4%) hue-rotate(59deg) brightness(106%) contrast(100%);
      };
  }
}
.Timeindicator
{
    position: absolute;
    width: 45rem;
    height: 6.5rem;
    right: 0;
    bottom: 0;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    border-radius: 40px 0px 0px 0px;
}
.carousel-indicators
{
    position: absolute;
    left:0;
    bottom: 44%;
    z-index: 15;
    display: block;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    padding-left: 0;
    margin-left: 0px;
    margin-right: 0px;
    li{
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 1.6em;
        border-radius: 100%;
        cursor: pointer;
        color:#f5f5f596;
        font-weight: 100;
        text-indent:0;
        font-size: 1.3rem;
        font-family: $font1;
        opacity: 8;
        width: 0px;
        letter-spacing: 2px;
        
    }
    .active
    {
        color:$cream;
        
    }
}

#myBar {
  width: 20%;
  height: 6px;
  background-color:$lblue;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 5px;
}
#myProgress {
  width: 40%;
  height: 6px;
  background-color:#b69d746b;
  border-radius: 5px;

}
.progress_section
{
    margin-top: 3.5rem;
    margin-left: 2rem;
    p{
        margin-top: -11px;
        font-family: $font1;
        font-weight: 100;
        font-size: 1.2rem;
        color: $lblue;
        letter-spacing: 2px;
    }
    .NextSlide
    {
        color:#8080807a;
    }
}
.rightArrow
    {
        transform: rotate(180deg);
    }
.arrowdiv
    {
        margin-top: -18px;
        margin-left: 25px;
        a{
            text-decoration: none;
        }
        img{
            filter: invert(10%) sepia(5%) saturate(6201%) hue-rotate(182deg) brightness(95%) contrast(85%);
            &:hover{
                filter: invert(69%) sepia(35%) saturate(340%) hue-rotate(358deg) brightness(87%) contrast(85%);
                transition: 0.1s;
            }
        }
    }

    .social-button {
    display: inline-block;
    border-radius: 50%;
    background-color: #8c8c8c;
    background-color: rgba(140,140,140,0.75);
    color: #fff;
    border: 0 none;
    padding: 0;
    text-align: center;
    width: 3em;
    height: 3em;
    line-height: 3em;
    position: relative;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.social-button:hover {
    background-color: white;
    color: #fff;
}
.social-button {
  display: inline-block;
  border-radius: 50%;
  background-color: white;
  color: #fff;
  border: 0 none;
  padding: 0;
  text-align: center;
  width: 4em;
  height: 4em;
  line-height: 4em;
  position: sticky;
  transition: all 0.25s ease-in-out;
}
.social-button.hover {
  background-color: white;
  color: #fff;
}
.social-button.hover:before {
  animation: social-button-beat 1.5s ease-out infinite;
}
.social-button.hover:after {
  animation: social-button-beat 1.5s ease-out 0.4s infinite;
}
.social-button:before,
.social-button:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}
@-moz-keyframes social-button-beat {
  0% {
    opacity: 0.8;
    transform: scale(1);
  }
  70% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes social-button-beat {
  0% {
    opacity: 0.8;
    transform: scale(1);
  }
  70% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes social-button-beat {
  0% {
    opacity: 0.8;
    transform: scale(1);
  }
  70% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
  }
}
@keyframes social-button-beat {
  0% {
    opacity: 0.8;
    transform: scale(1);
  }
  70% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
  }
}
.Visitblog
{
    background-color: $white;
    border-radius: 40px 0px 0px 0px;
}
.blogdiv
{
    margin-top: 44px;
    float: right;
    margin-right: 18px;
    margin-top: 32px;
    a{
        margin-left: 10px;
    }
    p 
    {
        margin-top: 10px;
        margin-right: 12px;
        font-size: 18px;
        color: white;
        font-family: $font1;
        font-weight: 200;
    }
}
@media (max-width:768px) {
    .header-section{
        display: none;
    }
    .Abt_img{
      display: none;
    }

   }
   @media (min-width:768px) {
    .mobile_header_section{
        display: none;
    }

   }
   
$color-main: white;
$color-active: #FFF;
$color-link: #FFF;

$button-height: 27px;
$button-width: 30px;


.button_container {
  position: absolute;
  top: 3%;
  right: 3%;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
  
  .middle
  {
    width: 24px;
    margin-left: 6px;
  }
  &:hover {
    opacity: .7;
  }
  
  &.active {
    .top {
      transform: translateY(10px) translateX(0) rotate(45deg);
      background: $color-active;
    }
    .middle {
      opacity: 0;
      background: $color-active;
    }
    
    .bottom {
      transform: translateY(-10px) translateX(0) rotate(-45deg);
      background: $color-active;
    }
  }
  
  span {
  background: $color-main;
  border: none;
  height: 3px;
  width: 100%;
  border-radius: 20px;
  position: absolute;
  top: 0px;
  left: 0;
  transition:  all .35s ease;
  cursor: pointer;
    
    &:nth-of-type(2) {
      top: 10px;
    }
    
    &:nth-of-type(3) {
      top: 20px;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, width .35s;
  z-index: 50;
  
  &:before {
    content: '';
    background: #000000f0;
    left: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    transition: left .35s ease;
  }
  
  &:after {
    content: '';
    background: #000000f0;
    right: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    transition: all .35s ease;
  }
  
  &.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
    
    &:before {
      left: 0;
    }
    
    &:after {
      right: 0;
    }
    
    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;
      
      &:nth-of-type(2) {
        animation-delay: .45s;
      }
      &:nth-of-type(3) {
        animation-delay: .55s;
      }
      &:nth-of-type(4) {
        animation-delay: .65s;
      }
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    // text-align: center;
    z-index: 100;
  }
  ul {
    width: 100%;
    padding-left: 35px;
    list-style: none;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; 
    .ov-item{
      margin-top: 4px;
      margin-left: 8px;
    }

    li {
      display: block;
      min-height: 50px;
      position: relative;
      opacity: 0;
    
      a {
        display: block;
        position: relative;
        color: $color-link;
        text-decoration: none;
        overflow: hidden;
        font-family: $font2;
        font-size: 20px;
        
        &:hover:after,
         &:focus:after,
         &:active:after {
           width: 100%;
         }
        &:hover{
          color: $cream;
          transition: .45s;
        }
        // &:after {
        //   content: '';
        //   position: absolute;
        //   bottom: 0;
        //   left: 50%;
        //   width: 0%;
        //   transform: translateX(-50%);
        //   height: 3px;
        //   background: $color-link;
        //   transition: .35s;
        // }
      }
    }
  }
}
.overlay.open li:nth-of-type(2){
  margin-top: 20px !important;
}
.overlay.open li:nth-of-type(5) {
    -webkit-animation-delay: .75s;
    animation-delay: .75s;
}
.overlay.open li:nth-of-type(6) {
    -webkit-animation-delay: .85s;
    animation-delay: .85s;
}
.overlay.open li:nth-of-type(7) {
    -webkit-animation-delay: .95s;
    animation-delay: .95s;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
.icons-row{
  a{
    margin-right: 20px;
    &:hover{
      filter: invert(100%) sepia(80%) saturate(1%) hue-rotate(328deg) brightness(106%) contrast(101%);
      transition: .45s;
    }
  }
}

#mycarouselExampleIndicators
{
    .carousel-item{
        img{
            height:-webkit-fill-available;
        }
    }
}
* {
  box-sizing: border-box;
}


.wrapper-menu {
  position: absolute;
  z-index: 15;
  right: 0;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}

.wrapper-menu.open {
  transform: rotate(-45deg);  
}

.line-menu {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 6px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}
.Mobile_carosal_content
{
    position: absolute;
    z-index: 20;
    top: 25%;
    left: 7%;
    p 
  {
    font-family: "Rubik", sans-serif;
    font-size: .8rem;
    margin-bottom: 8px;
    letter-spacing: 4px;
    color: white;
    margin-left: 2px;
  }
  h1 
  {
    font-family: "Merriweather", serif;
    color: white;
    font-size: 2.2rem;
    line-height: 54px;
    font-weight: 600;
       span{
        color: $white;
       }
  }
  button 
  {
      margin-top: 1rem;
      padding: 10px 18px 10px 18px;
      border-radius: 3rem;
      background-color: transparent;
      color: white;
      font-family: $font1;
      font-size: .8rem;
      margin-bottom: 0px;
      letter-spacing: 4px;
      border: 2px solid white;
      &before
      {
          content: "";

      }
      &:hover{
      background-color: $cream;
      transition: 1s;

      }
      img {
          filter: invert(100%) sepia(5%) saturate(4%) hue-rotate(59deg) brightness(106%) contrast(100%);
      };
  }
}
.indicator-mob
{
    position: absolute;
    z-index: 12;
    bottom: 20px;
    width: 100%;
    .blogdiv{
        background-color:transparent;
        height: 4.3rem;
        width: 100%;
        margin: 0 auto;
         overflow: hidden;
         .vstblg{
            p{
              color: white;
            }
         }        
    }   
    .shine-text{
      position: relative;
      font-family: $font1;
  text-align: center;
  font-size: 8vmin;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: .8;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-size: 80% 100%;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s linear infinite;
    }
@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  
  100% {
    background-position-x: 500%;
  }
}
    .social-button:after, .social-button:before {
      background-color:white;
    }

    .social-button.hover {
    background-color: white;
    color:white;
}

.arrowPlus{
  filter: invert(20%) sepia(11%) saturate(2770%) hue-rotate(181deg) brightness(98%) contrast(86%);
}
    .carosalNum
    {
        width: 30%;
        background-color: $white;
        h3{
          color: white;
          text-align: center;
          font-family: $font1;
          font-weight: 200;
          font-size: 2.6rem;
          opacity: 0.6;
          margin: 7px;
        }
    }
    .vstblg{
        float: right;
        img{
          display: inherit;
        }
        a{
          float:right;
        }
        p 
        {
          margin: auto;
          font-weight: 400;
          color: $dblue;
          font-size: 20px;
          margin-right: 10px;
        }
    }
    

}
.BlgCnt{

    width: 100%;
    margin: auto;
    height: auto;
    margin-right: 1.2rem;
}
.logoimg{
  position: absolute;
  top: 2%;
  left: 3%;
  z-index: 12;
}
.Aboutus_Section
{
  margin-top: 4rem;
  margin-bottom: 4rem;
  p{
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    color: #b69d74;
    margin-bottom: 13px;
    padding-left: 10px;
  }
  h3{
    font-family: "Merriweather", serif;
    color: #2c4065;
    font-size:2rem;
    font-weight: 600;
    margin-right: 35px;
    margin-bottom: 20px;
    line-height: 40px;
    padding-left: 10px;
  }
  .Content
  {
    color:gray;
    font-size: 16px;
    font-family: $font1;
    word-spacing: 2px;
    padding-left: 10px;
    padding-right: 10px;

  }
  button{
    padding: 15px 20px 15px 20px;
    background-color: #b69d74;
    border-radius: 40px;
    border: 0px;
    color: white;
    font-weight: 600;
    font-size: 12px;
    margin-top: 18px;
    margin-right: 1rem;
    border: 2px solid $white;
    &:hover{
      background-color: white;
      color: black;
      transition: 1s;
    }
    :focus {outline:0;}
    }
}
.contact_btn
    {
    background-color:white!important;
    border: 2px solid $white;
    color: $white!important;
    &:hover{
      background-color: $white!important;
      color: White!important;
    }
}
@media(max-width:768px)
{
  .contentDiv
  {
    padding: 0px 15px 0px 15px;
  }
  .Practice-section{
    margin-top: 4rem !important;
    .card{
      margin-bottom: 15px !important;
    }
  }
  .card-body{
    padding: 0.7rem;
  } 
  .about-head{
    padding-top: 2rem !important;
    h3{
      margin-bottom: 10px;
    }
  }
  .Card-container{
    padding-bottom: 3.4rem;
  }
  .card-deck{
    width: 100%;
    overflow: hidden;
    .card{
      padding: 10px;
    }
  }
.buttons{
  padding-left:10px ;
}

}
@media(min-width:768px){
  .Card-container{
  padding-bottom: 4rem;
}
  .Aboutus_Section
  {
    margin-bottom:100px;
    .contentDiv{
      margin-top: 6rem; 

    }
  .contentdiv
  {
    margin-top: 100px;
  }
    margin-top: 6rem;
    h3{
      font-size: 2.3rem;
      margin-bottom: 25px;
      font-weight:100;
    }
    img{
      float: right;
    }
    p{
      font-size:14px!important;
      margin-left: 1px;
    }
    .Content{
      font-size: 17px !important;
      padding: 10px !important;
    }
  }
}
.carousel_mobile
{
  height:93vh;
  width:100%;
  overflow:hidden;
}

.Practice-section{
  margin-top:6rem;

  .about-head{
    margin-top:2.5rem;
    margin-bottom:2rem;
    text-align: center;
    padding-top: 3.4rem;
    p{
      font-family: "Rubik", sans-serif;
      font-size: 14px;
      margin-left: 2px;
      color: #b69d74;
      margin-bottom: 10px;

    }
    h3{
      font-family: "Merriweather", serif;
      color: #2c4065;
      font-size: 2rem;
      font-weight: 600;
    }
    .abtLabel{
      color: gray;
      font-size: 16px;
      margin-left: 2px;
      font-family: "Rubik", sans-serif;
      word-spacing: 2px;
    }
  }
  .card_sec{
    margin: 10px;
  }
  .card
  {
    border-radius:12px;
    border: 0px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.04), 
                0 2px 4px rgba(0,0,0,0.04), 
                0 4px 8px rgba(0,0,0,0.04), 
                0 8px 16px rgba(0,0,0,0.04),
                0 16px 32px rgba(0,0,0,0.04), 
                0 32px 64px rgba(0,0,0,0.04);
    margin-bottom: 30px;
  }
  .card-content{
    border:0px;
    padding: 20px 10px 20px 10px;
    .Head_Icon{
      display: inline-flex;
      img{
        width: 40px;
        margin-right: 12px;
filter: invert(67%) sepia(2%) saturate(5065%) hue-rotate(0deg) brightness(97%) contrast(79%);
      }
      h1{
        margin: auto;
        font-family: $font2;
        color: $dblue;
        font-size: 18px;
        margin: 8px 0px 8px 0px;

      }
    }
      p{
        color: gray;
        font-family: $font1;
        font-size: 16px;
        margin-bottom: 0px;
        a {
        color: $white;
       }
      }
  }
}
.view_all{
    padding: 12px 25px 12px 25px;
    background-color: white;
    border-radius: 40px;
    color: #b69d74;
    font-weight: 600;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 13px;
    border: 2px solid #b69d74;
}
.pracCont{
    position: absolute;
    z-index: 22;
    background-color:#f2f3ed;
    border-radius:20px;
    margin-left:10px;
    margin-right:10px;
   box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
                0 2px 2px rgba(0,0,0,0.12), 
                0 4px 4px rgba(0,0,0,0.16), 
                0 8px 8px rgba(0,0,0,0.20);
}
.Counter_sub{
  font-family: $font1;
  font-style: 17px;
}
@media(max-width:768px){
  .Singlecard
  {
    padding: 0px;
  }
}

@media(min-width:768px){
  .pracCont
  {
    padding-left: 10px;
    background-color:#f2f3ed;
    border-radius:20px;
    margin-left:4rem;
    margin-right:4rem;
    box-shadow: 0 1px 2px rgba(0,0,0,0.03), 
                0 2px 4px rgba(0,0,0,0.03), 
                0 4px 8px rgba(0,0,0,0.03), 
                0 8px 16px rgba(0,0,0,0.03),
                0 16px 32px rgba(0,0,0,0.03), 
                0 32px 64px rgba(0,0,0,0.03);
  }
.view_all{
  display: none;
}
.about-head
{
  text-align: left!important;

  
}
h3{
    font-size: 2.3rem !important;
    margin-bottom: 20px !important;
    font-weight: 100 !important;
}
.card_sec
{
  display: content;
  .row{
    margin: 20px;
    margin: 0px 10px 0px 10px;
  }
}
.Singlecard
{
  .read-more-arrow{
      visibility: hidden;
      }
  padding: 0px;
  .card{
    &:hover{
      .read-more-arrow{
        transition: 1s;
        visibility: visible;
        
      }
    }
  }
  
}
.Head_Icon{
  display:block!important;
  img{
    margin-top: 10px;
    margin-bottom: 5px;
    width: 50px !important;
  }
  p{
    font-size: 16px;
  }
}
}
.counter
{
  width:100%;
  overflow: hidden;
  background-size: 100%;
  background-image: url('../assets/img/background_img.png'); /*  Background Image Linki */   
  background-repeat: no-repeat;  /* Background Image Will not repeat */
  background-size: cover; /* This will make background image width 100% and height 100% */
  background-position: top;

}

/*counter styles starts*/

@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);

body {

  

  


  position: relative;

  -webkit-font-smoothing: antialiased;

  margin: 0;

}

* {

  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

  box-sizing: border-box;

}

body,

div,

dl,

dt,

dd,

ul,

ol,

li,

h1,

h2,

h3,

h4,

h5,

h6,

pre,

form,

p,

blockquote,

th,

td {

  margin: 0;

  padding: 0;

  font-size: 13px;

  direction: ltr;

}

.sectionClass {

  position: relative;

  display: block;

}

.fullWidth {

  width: 80% !important;
  margin: auto;

  display: table;

  float: none;

  padding: 0;

  min-height: 1px;

  height: 100%;

  position: relative;

}

.sectiontitle {

  background-position: center;

  margin: 30px 0 0px;

  text-align: center;

  min-height: 20px;

}

.sectiontitle h2 {

  font-size: 30px;

  color: #222;

  margin-bottom: 0px;

  padding-right: 10px;

  padding-left: 10px;

}

.headerLine {

  width: 160px;

  height: 2px;

  display: inline-block;

  background: #101F2E;

}

.projectFactsWrap {

  display: flex;

  margin-top: 30px;

  flex-direction: row;

  flex-wrap: wrap;

}

#projectFacts .fullWidth {

  padding: 0;

}
.item{
  margin-left: auto;
  margin-right: auto;
}
.projectFactsWrap .item {

  width: 22%;

  height: 100%;

  padding: 50px 0px;

  text-align: center;

}
.number{
  font-size: 40px;
  color: white !important;
  padding: 0;
  font-family: $font1;
  text-align: left;
  font-weight: 400;
}

.projectFactsWrap .item p {

  color: rgba(255, 255, 255, 0.8);

  font-size: 13px;

  margin: 0;
  text-align: left;
  // padding: 10px;
  text-transform: uppercase;
  color: $cream;
  font-family: $font2;

}

.projectFactsWrap .item span {

  width: 60px;

  background: rgba(255, 255, 255, 0.8);

  height: 2px;

  display: block;

  margin: 0 auto;

}

.projectFactsWrap .item i {

  vertical-align: middle;

  font-size: 50px;

  color: rgba(255, 255, 255, 0.8);

}

.projectFactsWrap .item:hover i,

.projectFactsWrap .item:hover p {

  color: white;

}

.projectFactsWrap .item:hover span {

  background: white;

}

@media (max-width: 786px) {

  .projectFactsWrap .item {

    flex: 0 0 50%;

  }

}

/* AUTHOR LINK */

.about-me-img {

  width: 120px;

  height: 120px;

  left: 10px;

  /* bottom: 30px; */

  position: relative;

  border-radius: 100px;

}

.about-me-img img {} .authorWindow {

  width: 600px;

  background: #75439a;

  padding: 22px 20px 22px 20px;

  border-radius: 5px;

  overflow: hidden;

}

.authorWindowWrapper {

  display: none;

  left: 110px;

  top: 0;

  padding-left: 25px;

  position: absolute;

}

.trans {

  opacity: 1;

  -webkit-transform: translateX(0px);

  transform: translateX(0px);

  -webkit-transition: all 500ms ease;

  -moz-transition: all 500ms ease;

  transition: all 500ms ease;

}

@media screen and (max-width: 768px) {

  .authorWindow {

    width: 210px;

  }

  .authorWindowWrapper {

    bottom: -170px;

    margin-bottom: 20px;

  }


 

.count_content
{ text-align: center;
  h2{
    margin-bottom: 10px;
  }
  .number{
    text-align: center;
  }
}

.img_icon
{

  margin-top: auto;
  margin-bottom: auto;
  img{
    display: none;
  }
}

}
 .img_icon{
    margin-top: auto;
    margin-bottom: auto;
    img{
      margin-right: 15px;
      width: 50px !important;
      height: 50px !important; 
    }

  }
  .free{
    margin-top: 40px;
    font-family: $font1;
    font-size: 16px;
    font-weight: 500;
    a{
      color: $cream;
      text-decoration: none;
      &:hover{
        color: white;
      }
    }
  }


  // cotact form section

  .contact-section
  {
    .container{
      margin-bottom: 2rem;
    }
    width: 100%;
    overflow: hidden;
    margin-top: 4rem;
    margin-bottom: 4rem;
    .contact-content{
      h3{
      font-family: "Merriweather", serif;
      color: #2c4065;
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 20px;
      line-height: 44px;
      text-align: center;
      padding-left: 14px;
      padding-right: 14px;
        span{
          color: $cream;
        }
    }
     p{
        color: gray;
        font-size: 16px;
        font-family: "Rubik", sans-serif;
        word-spacing: 2px;
        padding-left: 12px;
        padding-right: 12px;
      }

    }
    @media (min-width: 767.98px) {
      .form-title{
          padding: 30px 10px 40px 10px !important;
      }
      .contact-content{
          padding-left: 25px;
          padding-right: 24px;
        h3{
          text-align: left !important;
          margin-bottom: 20px !important;
        }
        p{
          margin-left: 6px;
        }
   
      }
      .Contact-form{
        padding: 20px 12px 40px 12px;
        border-radius: 15px;
         box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
      }
    
    }

    .Contact-form{


      #success-message {
  opacity: 0;
}


.margin-top-25 {
  margin-top: 25px;
}

.form-title {
  padding: 25px;
  font-size: 30px;
  color: #2c4065;
  font-weight: 500;
  font-family: $font2;
}

.form-group .form-control {
  -webkit-box-shadow: none;
  border-bottom: 1px;
  border-style: none none solid none;
  border-radius:0; 
  border-color: rgb(110, 109, 109);
}

.form-group .form-control:focus {
	box-shadow: none;
  border-width: 0 0 2px 0;
  border-color:rgb(110, 109, 109);
  
}

textarea {
  resize: none;
}

.btn-mod.btn-large {
    height: auto;
    padding: 13px 52px;
    font-size: 15px;
}

.btn-mod.btn-border {
        padding: 15px 20px 15px 20px;
    background-color: #b69d74;
    border-radius: 40px;
    border: 0px;
    color: white;
    font-weight: 600;
    font-size: 12px;
    margin-top: 20px;
    margin-right: 1rem;
    border: 2px solid #b69d74;
}

.btn-mod, a.btn-mod {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 13px;
    color: #fff;
    background: rgba(34,34,34, .9);
    border: 1px solid transparent;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.btn-mod.btn-border:hover, .btn-mod.btn-border:active, .btn-mod.btn-border:focus, .btn-mod.btn-border:active:focus {
    color: #fff;
    border-color:1px solid $cream;
    background: White;
    color: $cream;
    outline: none;
}

@media only screen and (max-width: 767.98px) {
    .btn-mod.btn-large {
       font-size: 11px;
    }
  
    .form-title {
        padding:0px;
        font-family: "Merriweather", serif;
        color:$lblue;
        font-size: 2rem;
        font-weight: 600;
        line-height: 44px;
        text-align: center;
  }
}

    }

  }

      @media (max-width: 767.98px) {
       .Contact-form{
         margin-top: 40px;
       }
       .mobile_border{
         border: 1px solid $cream;
         border-radius: 10px;
         .row{
           margin-top: 40px;
           margin-bottom: 40px;
         }
       }

      }






.testimonials{
  margin-bottom: 6rem;
  .testi-frame{
     box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
      &:after {
        display: block;
        content: "";
        width: 60px;
        height: 60px;
        position: absolute;
        top: 0;
        right: 11px;
        border-top: 3px solid $cream;
        border-right: 3px solid $cream;
        }
      &:before {
        display: block;
        content: "";
        width: 60px;
        height: 60px;
        position: absolute;
        bottom: 0px;
        left: 11px;
        border-bottom: 3px solid $cream;
        border-left: 3px solid $cream;
        }

    // border: 1px solid $dblue;
    // border-radius: 12px;
    .testi-carousel{
    }
    .bQuote{
      width: 45px;
      height: auto;
      position: absolute;
      z-index: 23;
      left: 34px;
      filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, 0.2));
      top: -16px;
    }
    .testi-content{
      padding: 2rem;
      .dp{
      width: 100px;
      height: auto;  
      border-radius: 100%;
      padding: 2px;
      border: 2px solid $cream;
      }
      .testi-name{
        margin-top: 8px;
        font-size: 16px;
        columns: $lblue;
        font-family: $font1;
      }
      .comment{
        font-size: 16px;
        font-family: $font1;

      }
    .rating{
      color: gray;
      font-size: 20px;
      .active{
        color: gold;
      }
      
    }
  }

  }
}

.testimonialHeader{
  text-align: center;
  p{
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    color: #b69d74;
    margin-bottom: 4px;
  }
  h3{
    font-family: "Merriweather", serif;
    color: #2c4065;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 40px;
    line-height: 44px;
  }
}

@media (min-width: 767.98px) {
.testimonialHeader{
  text-align: left;
    padding-bottom: 20px;
}
.bQuote{
  width: 50px !important;
}

}

.blogs{
  .card{
    border: 0px;
  }
  margin-bottom: 4rem;
  img{
    border-radius: 10px;
    margin-bottom: 6px;
  }
  label{
    font-family: "Rubik", sans-serif;
    font-size: 0.7rem;
    color: gray;
    margin-bottom: 2px;
    text-transform: uppercase;
  }
  h3{
    padding: 0px;
    font-family: "Merriweather", serif;
    color: #2c4065;
    font-size: 2rem;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .prehead{
    font-size: 14px;
    font-family: "Rubik", sans-serif;
    color:$cream;
  }
  .blog_label{
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    color: gray;
    margin-bottom: 6px;
  }
  a{
    text-decoration: none;
    color: $cream !important;
    font-family: $font1;
    font-size: 16px;
    &:hover{
      color: $lblue;
      transition: 1s;
    }
  }
  .blog_img{
    position: relative;
      .date_time{
        position: absolute;
        right:0;
        bottom: 0;
        z-index: 33;
        background-color: white;
        color: $lblue;
        padding: 5px;
        border-radius: 12px 0px 0px 0px;
        font-family: $font1;
        font-size: 14px;
        -webkit-box-shadow: -3px -1px 17px -9px rgba(0,0,0,0.75);
        -moz-box-shadow: -3px -1px 17px -9px rgba(0,0,0,0.75);
        box-shadow: -3px -1px 17px -9px rgba(0,0,0,0.75);
  }
  }

}

@media (min-width: 767.98px) {

.blogs{
  .bQuote
  {
    width: 50px !important;
  }
  label{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 12px;
    font-family: $font1;
  }
  .blog_cont
  {
    padding:10px;
    h1{
        font-family: $font2;
      font-size: 1.4rem !important;
      line-height: 30px !important;
      margin-bottom: 6px;
      color: $lblue;
    }
    p{
      font-size: 16px;
      font-family: "Rubik", sans-serif;
      color: gray;
      margin-bottom: 10px;
    }
  }
  .blog_img
  {
      // width: 400px;
      height: 270px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover
    }
  }
}
}

@media (max-width: 767.98px) {
.blogs{
  .card 
  {
    margin-bottom: 30px;
  }
  .blog_label{
    margin-bottom: 40px !important;
  }
  .blog_title{
    margin-bottom: 20px !important;
  }
  .blog_cont{
    padding-left: 8px;
    padding-right: 5px;
    h1{
      font-size: 1.3rem;
      margin-bottom: 0px;
      font-family: $font2;
      color: $lblue;
    }
    p{
      font-size: 16px;
      font-family: "Rubik", sans-serif;
      color: gray;
      margin-bottom: 10px;
    }
  }
}
}


.footer{
  font-family: $font1;
  background: #152F4F;
  color:white;
.main_footer_content
{
  div{
    margin-top:10px ;
  } 
  .icon{
    margin-right: 10px;
    
  }
  p{
    font-family: $font1;
    font-size: 16px;
  }
}

.Quick-links
{
  margin-top: 10px;
  h3{
    margin-top: 4px;
    font-family: "Merriweather", serif;
    color: $cream;
    font-size: 17px !important;
  }
  p{
    margin-bottom: 5px;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
  }
  button{
    padding: 10px 25px 10px 25px;
    background-color: #b69d74;
    border-radius: 40px;
    border: 0px;
    color: white;
    font-weight: 500;
    font-family: $font1;
    font-size: 16px;
    margin-top: 20px;
    border: 2px solid #b69d74;
  }
}

}.main-blog{
  .about-blg{
    margin-bottom: 15px;
    p{
      color: gray;
      font-size: 16px;
      font-family: $font1;
    }
  }
  margin-top: 4rem;
}
.text-focus-in {
	-webkit-animation: text-focus-in 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-5-4 20:25:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1.5s both;
	        animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1.5s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-5-4 20:39:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.focus-in-expand-fwd{-webkit-animation:focus-in-expand-fwd .8s cubic-bezier(.25,.46,.45,.94) 1.8s both;animation:focus-in-expand-fwd .8s cubic-bezier(.25,.46,.45,.94) 1.8s both}
@-webkit-keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}

// materialDesign Ripple effect Start


// .btn1 {
//   display: inline-block;
//   background-color: lightblue;
//   border: none;
//   text-align: center;
//   box-sizing: border-box;
//   padding: 20px 40px;
//   min-width: 10vw;
//   font-size: 20px;
//   font-family: sans-serif;
//   color: black;
// }


.btn1 {
  position: relative;
  overflow: hidden;
}

.btn1 span {
  position: absolute;
  border-radius: 50%;
  background-color: #c0a4778c;
  
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  
  animation: ripple 2.3s;
  opacity: 0;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}

// material Design Ripple Effect End


// @-webkit-keyframes arrow-jump {
//   0%   { opacity: 0;}
//   20% {opacity: 0.5;}
//   70%{opacity: 1;}
//   100% { opacity: 0.2; 
//         -webkit-transform: translateX(07px);
//         -moz-transform: translateX(07px);
//         transform: translateX(07px);
//     }
  
// }
// #arrow {
//   -webkit-animation: arrow-jump 1s infinite; /* Safari 4+ */
//   -moz-animation:    arrow-jump 1s infinite; /* Fx 5+ */
//   -o-animation:      arrow-jump 1s infinite; /* Opera 12+ */
//   animation:         arrow-jump 1s infinite; /* IE 10+, Fx 29+ */
// }
 .view-all{
    font-family: $font1;
    color: $lblue;
    font-size: 16px;
    margin-top: 12px;
 }


 .abt-practice{
   h1{
    font-family: "Merriweather", serif;
    color: #2c4065;
    font-size: 2rem;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 20px;
   }
   p{
     color: gray;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    margin-bottom: 0px;
    margin-bottom: 40px;
   }
 }
 @media (min-width:768px) {
    .abt-practice{
      h1{
      font-size: 2.3rem !important;
      font-weight: 100;
      }
    }
 }
 .loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('https://lkp.dispendik.surabaya.go.id/assets/loading.gif') 50% 50% no-repeat rgb(249,249,249);
 }