@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Playfair+Display:wght@700&family=Rubik:ital,wght@0,300;0,400;0,500;0,900;1,500&family=ZCOOL+XiaoWei&display=swap');
$font1:'Rubik', sans-serif;
$gray:#606569;
$dblue:#1f2839;
$lblue:#2c4065;
$cream:#b69d74;
$white:#b69d74;